@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

/* Light theme */
:root {
  --color-accent: 204 0 185; /* #CC00B9 */
  --color-accent-hover: 184 0 166; /* #b800a6 */
  --color-onaccent: 255 255 255; /* #FFFFFF */
  --color-surface: 255 255 255; /* #FFFFFF */
  --color-onsurface: 245 245 245; /* #F5F5F5 */
  --color-body: 0 0 0; /* #000000 */
  --color-placeholder: 148 148 148; /* #949494 */
  --color-background: 245 245 245; /* #F5F5F5 */
}

/* Dark theme */
html.dark {
  --color-accent: 249 103 233; /* #F967E9 */
  --color-accent-hover: 248 69 228; /* #f845e4 */
  --color-onaccent: 0 0 0; /* #000000 */
  --color-surface: 38 38 38; /* #202020 */
  --color-onsurface: 28 28 28; /* #323232 */
  --color-body: 255 255 255; /* #FFFFFF */
  --color-placeholder: 148 148 148; /* #949494 */
  --color-background: 28 28 28; /* #323232 */
}

/* Focus outline */
*:focus {
  outline: none;
}

.floating-focus-enabled :focus,
.floating-focus-enabled .focus {
  outline: rgb(var(--color-accent)) solid 2px;
  outline-offset: 8px;
}

/* Selection color */
::selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

::-moz-selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

::-webkit-selection {
  background-color: rgb(var(--color-accent) / 0.25);
}

/* Custom class to hyphenate words */
@media (max-width: 768px) {
  .hyphens-auto {
    hyphens: auto;
  }
}

/* Custom class to hide scrollbar (Chrome, Edge, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom class to hide scrollbar (Firefox) */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Better underline styling */
.underline, .hover\:underline {
  text-underline-offset: .15rem;
  text-decoration-thickness: .075rem;
  text-decoration-skip-ink: all;
}
